<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>	 
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>
	<add name="CargoInsurance" connectionString="metadata=res://*/Entity.CargoEntities.csdl|res://*/Entity.CargoEntities.ssdl|res://*/Entity.CargoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.34.97.2,1434;initial catalog=CargoInsurance;user id=appCargoInsurance;password=131Ca5986RGO5Lp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	<add name="CargoInsuranceEntities" connectionString="metadata=res://*/CargoModel.csdl|res://*/CargoModel.ssdl|res://*/CargoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.34.97.2,1434 ;initial catalog=CargoInsurance;persist security info=True;user id=appCargoInsurance;password=131Ca5986RGO5Lp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	<add name="CentralInsuranceBridgeEntities" connectionString="metadata=res://*/CentralInsuranceBridge.csdl|res://*/CentralInsuranceBridge.ssdl|res://*/CentralInsuranceBridge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.34.97.2,1434;initial catalog=CentInsurBridge;persist security info=True;user id=hosein.kenareh;password=H0$en866;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="GeoLocationEntities" connectionString="metadata=res://*/GeoLocationModel.csdl|res://*/GeoLocationModel.ssdl|res://*/GeoLocationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.34.97.2,1434;initial catalog=InsurancePerson;persist security info=True;user id=hosein.kenareh;password=H0$en866;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
	<appSettings>
		<add key="TxtLogSeparator" value="|B|" />
		<add key="DiskLogFileName" value="Log.xml" />
		<add key="CentralInsuranceUsername" value="ml1712" />
		<add key="CentralInsurancePassword" value="cii@crg98#pq4" />
	</appSettings>
	<system.serviceModel>
		<services>
			<!--Cargo all services-->
			<service behaviorConfiguration="DefaultBehavior" name="WdnInsurance.UI.WebServices.CargoServices">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="PanelBinding" contract="WdnInsurance.UI.WebServices.ICargoServices" bindingNamespace="Services" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />

		<bindings>
			<basicHttpBinding>
				<binding name="PanelBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
				<binding name="LargeData" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152" transferMode="Buffered">
					<readerQuotas maxDepth="32" maxStringContentLength="2097152" maxArrayLength="2097152" maxBytesPerRead="2097152" />
				</binding>
				<binding name="BasicHttpBinding_ESBFacade" />
				<binding name="SMS1Soap" />
				<binding name="CentralInsServiceSoap" />
				<binding name="BasicHttpBinding_IReturnData" />
				<binding name="BasicHttpBinding_ICentInsGateway" />
				<binding name="UsersSoap" />
				<binding name="BasicHttpBinding_ICentralBankService1" />
				<binding name="myBasicHttpBinding_ICargoInquiry" />
				<binding name="myBasicHttpBinding_IInquery" />
				<binding name="myBasicHttpBinding_ICrgPlcyV1" />
				<binding name="myBasicHttpBinding_ICrgPlcy1" />
				<binding name="myBasicHttpBinding_ICrgPlcy2" />
				<binding name="BasicHttpBinding_ICentInsCrgPlcyV3" />
				<binding name="AccountFastServiceSoapBinding" />
				<binding name="VoucherServiceSoapBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://46.34.96.67/ESBGateway/ESBService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ESBFacade" contract="EsbService.ESBFacade" name="BasicHttpBinding_ESBFacade" />
			<endpoint address="http://dev.mellatinsurance.com/SMSInquiry/WS/SMS.asmx" binding="basicHttpBinding" bindingConfiguration="SMS1Soap" contract="SMSService.SMS1Soap" name="SMS1Soap" />
			<endpoint address="http://gateway.mellatinsurance.com/ExternalServiceGateway/CentInsGateway.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentInsGateway" contract="CentIns.ICentInsGateway" name="BasicHttpBinding_ICentInsGateway" />
			<endpoint address="http://gateway.mellatinsurance.com/ExternalServiceGateway/CentralInsService.asmx" binding="basicHttpBinding" bindingConfiguration="CentralInsServiceSoap" contract="Naja.CentralInsServiceSoap" name="CentralInsServiceSoap" />
			<endpoint address="http://apps.mellatinsurance.com/Automobile2010/WS/ReturnData.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReturnData" contract="AutoInsInquiry.IReturnData" name="BasicHttpBinding_IReturnData" />
			<endpoint address="http://apps.mellatinsurance.com/newportal/ws/Users.asmx" binding="basicHttpBinding" bindingConfiguration="UsersSoap" contract="DevPortalNew.UsersSoap" name="UsersSoap" />
			<endpoint address="http://gateway.mellatinsurance.com/CentralBankCurrency/CentralBankService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralBankService1" contract="CentralBankServiceNew.ICentralBankService" name="BasicHttpBinding_ICentralBankService1" />
			<endpoint address="http://reinsure.centinsur.ir/CargoInq" binding="basicHttpBinding"               bindingConfiguration="myBasicHttpBinding_ICargoInquiry" contract="CargoInq.ICargoInquiry"               name="myBasicHttpBinding_ICargoInquiry" />
			<endpoint address="http://reinsure.centinsur.ir/OrderOut" binding="basicHttpBinding"                bindingConfiguration="myBasicHttpBinding_IInquery" contract="OrderOut.IInquery"                name="myBasicHttpBinding_IInquery" />
			<endpoint address="http://reinsure.centinsur.ir/CrgPlcyV1" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding_ICrgPlcyV1" contract="CrgPlcy.ICrgPlcyV1" name="myBasicHttpBinding_ICrgPlcyV1" />
			<endpoint address="http://reinsure.centinsur.ir/CrgPlcyV3" binding="basicHttpBinding"
					  bindingConfiguration="myBasicHttpBinding_ICrgPlcy1" contract="CentInsurCrgPlcy.ICrgPlcy"
					  name="myBasicHttpBinding_ICrgPlcy1" />
			<endpoint address="http://reinsure.centinsur.ir/CrgPlcyV3" binding="basicHttpBinding"
					  bindingConfiguration="myBasicHttpBinding_ICrgPlcy2" contract="CentralInsuranceWebService.ICrgPlcy"
					  name="myBasicHttpBinding_ICrgPlcy2" />
			<endpoint address="http://gateway.mellatinsurance.com/ExternalServiceGateway/CentInsCrgPlcyV3.svc"
					  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentInsCrgPlcyV3"
					  contract="CentralInsuranceaMellatGateway.ICentInsCrgPlcyV3"
					  name="BasicHttpBinding_ICentInsCrgPlcyV3" />
			<endpoint address="http://credit.mellatinsurance.com:91/Retail_CardBuisWS/AccountFastImpl"
					  binding="basicHttpBinding" bindingConfiguration="AccountFastServiceSoapBinding"
					  contract="CoreFinancialTransfer.AccountFastPortType" name="AccountFastPortTypeSoapPort" />
			<endpoint address="http://credit.mellatinsurance.com:91/FinancialWS/FinancialImpl"
					  binding="basicHttpBinding" bindingConfiguration="VoucherServiceSoapBinding"
					  contract="CoreFinancialDoVoucher.VoucherPortType" name="VoucherPortTypeSoapPort" />
		</client>
	</system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>